@charset "utf-8";
body{margin: 0px;padding: 0px;}
.container{position: relative;width: 200px;height: 200px;margin: 200px auto;-webkit-transform-style: preserve-3d;
 /*animation: donghua 15s infinite linear;*/
    -webkit-transform: rotateY(-25deg) rotateX(-100deg);
}
.face{position: absolute;left: 0px;top: 0px;display: inline-block;width: 200px;height: 200px;
outline: solid 1px darkblue;opacity: 0.6;}
.face:nth-child(2){    -webkit-transform: rotateX(90deg) rotateY(90deg);
    -ms-transform: rotateX(90deg) rotateY(90deg);
    left: 117px; top: -11px;background-color:red;}
.face:nth-child(3){    -webkit-transform: rotateX(90deg) rotateY(90deg);
    -ms-transform: rotateX(90deg) rotateY(90deg);
    left: -83px; top: -11px;background-color: darkorange;}
.face:nth-child(4){    -webkit-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    left: 16px; top: -11px;background-color: yellow;}
.face:nth-child(5){     -webkit-transform: translateZ(-100px);
    -ms-transform: translateZ(-100px);
    left: 16px; top: -11px;background-color: green;}
.face:nth-child(6){    -webkit-transform: rotateX(90deg) rotateY(0deg);
    -ms-transform: rotateX(90deg) rotateY(0deg);
    left: 16px; top: -112px;background-color: blue;}
.face:nth-child(7){    -webkit-transform: rotateX(90deg) rotateY(0deg);
    -ms-transform: rotateX(90deg) rotateY(0deg);
    left: 16px; top: 88px;background-color: deeppink;}
.container:hover{-webkit-animation-play-state: paused; -ms-animation-play-state: paused;}
@keyframes donghua{
    0%{-webkit-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
    }
    10%{-webkit-transform:rotateY(90deg);
        -ms-transform:rotateY(90deg);
    }
    20%{-webkit-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
    }
    30%{-webkit-transform:rotateY(270deg);
        -ms-transform:rotateY(270deg);
    }
    40%{-webkit-transform:rotateY(360deg) rotateX(0deg);
        -ms-transform:rotateY(360deg) rotateX(0deg);
    }
    50%{-webkit-transform:rotateY(360deg) rotateX(60deg);
        -ms-transform:rotateY(360deg) rotateX(60deg);
    }
    60%{-webkit-transform:rotateY(360deg) rotateX(120deg);
        -ms-transform:rotateY(360deg) rotateX(120deg);
    }
    70%{-webkit-transform:rotateY(360deg) rotateX(180deg);
        -ms-transform:rotateY(360deg) rotateX(180deg);
    }
    80%{-webkit-transform:rotateY(360deg) rotateX(240deg);
        -ms-transform:rotateY(360deg) rotateX(240deg);
    }
    90%{-webkit-transform:rotateY(360deg) rotateX(300deg);
        -ms-transform:rotateY(360deg) rotateX(300deg);
    }
    100%{-webkit-transform:rotateY(360deg) rotateX(360deg);
        -ms-transform:rotateY(360deg) rotateX(360deg);
    }
}
.ball{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;width: 40px;height: 40px;background-image: radial-gradient(ellipse farthest-corner at 25% 25%,#f00,#000);
    margin: 0 auto;
    -webkit-transform: rotateX(90deg) translateY(-200px) translateX(120px);
}



